@import 'font';

html, body {
	height: 100vh;
	width: 100vw;
	max-width: 100vw;
	max-height: 100vh;
	min-width: 100vw;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	font-size: 24pt;
    @extend .fo-lig;
    display: flex;
    flex-direction: column;
    background-color: #ededed;
}

.main-header {
    width: 100%;
    height: 85px;
    top: 0;
    background-color: #232324;
}
.main-footer {
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: #232324;
}
.main-container {
    position: relative;
    width: 100%;
    flex: 1;

    .content {
        position: relative;
        max-width: 1450px;
        width: 100%;
        height: 100%;
        min-height: 100px;
        min-width: 200px;
        margin: 0 auto;
        overflow: hidden;
    }
}
.main-header, .main-footer {
  z-index: 300;
}


.footer-content {
  max-width: 942px;
}
.header-content {
  max-width: 782px;

  .logo {
    height: 34px;
    width: 128px;
  }

  .header-links {
    display: flex;
    justify-content: space-between;
    width: 254px;

    a {
      text-decoration: none;
      border-bottom: 1px solid;
    }
  }
}
.footer-content, .header-content {
  
  margin: 0 auto;
  font-size: 16px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  text-transform: uppercase;
}
.header-content {
  a {
    color: #d6a86d;
  }
}
.footer-content {
  a {
    color: #fff;
  }
}