@media (min-width: 980px) {
    .hue1 {
        transform: scale(1.1);
        left: 2%;
    }
    .hue2 {
        left: -4.8%;
        bottom: -1%;
    }
    .hue3 {
        transform: scale(1.1) rotate(31deg);
        bottom: 10%;
        left: 18%;
    }
    .photo {
        transform: scale(1.34);
        left: 18.2%;
        top: 20.4%;
    }
    .iqos {
        transform: scale(1.5);
        top: 43%;
        left: 0%;
    }
    .stik {
        transform: scale(1.2);
    top: -1%;
    left: 40%;
    }
    .caps1 {
        transform: scale(1.2);
    top: 44%;
    left: 24%;
    }
    .caps2 {
        transform: scale(1.2);
        left: 30%;
        top: 52%;
    }
}