@media (max-height: 420px) and (orientation: landscape) {
    .main-header {
        width: 100%;
        height: 35px;
        top: 0;
        background-color: #232324;
      .logo {
        height: auto;
        padding-top: 10px;
        width: 90px;
      }
    }
    .main-footer {
        width: 100%;
        height: 50px;
        bottom: 0;
        background-color: #232324;
      img {
        width: 30px;
      }
    }
    .label-wrapper-1, .label-wrapper-21, .label-wrapper-22 {
		transform: scale(0.8);
    }
    .label-wrapper-21, .label-wrapper-22 {
        padding-left: 120px;
        margin-top: 0;
    }
    body.second .label-wrapper-22 {
        margin-top: 1.2%;
    }
    .star-1 {
		top: 140px;
		right: 120px;
	}
	.halo-left {
		bottom: -50px;
		left: -74px;
	}
	.halo-right {
		bottom: 200px;
		right: -500px;
	}
	.boken2 {
		display: none;
	}
	.hues, .confeti {
		transform: scale(.5)
	}
	.hue1 {
        top: -162px;
        left: -150px;
	}
	.confeti-1 {
		top: 0;
		left: 6px;
	}
	.confeti-2 {
		top: -46px;
		right: 12px;	
	}
	.confeti-3 {
        right: 2%;
        top: 30%;
    }
	.confeti-4 {
		top: 280px;
    	left: -40px;
	}
	.confeti-5 {
		bottom: -38px;
		left:16px;
	}
	.confeti-6 {
		bottom: -64px;
		right: 12px;
	}
	.photo {
		top: -16px;
		left: -38px;	
	}
	.caps1 {
        top: 106px;
        left: 60px;
	}
	.caps2 {
        top: 116px;
        left: 110px;
	}
	.stik {
        top: -20%;
        left: 22%;
    }
	.iqos {
        top: 24%;
        left: -10%;
    }
	.hue2 {
		left: -18%;
    bottom: -38%;
	}
	.hue3 {
		bottom: -14%;
    left: 10%;
    }
    
    .third {
        .branch2 {
            height: 144px;
        }
        .label-wrapper-3 {
            opacity: .7 !important;
            transition: opacity 1s linear .8s;
            transform: scale(.5);
            margin-top: 40px;
        }
        .acc {
            transform: scale(.5)
        }
        .acc1 {
            top: -32px;
            left: 56%;
        }
        .acc2 {
            top: -22px;
            left: 5%;
        }
        .acc3 {
            top: -52px;
            left: 10%;
        }
        .acc4 {
            top: -26%;
    left: 36%;
        }
        .acc6 {
            top: -10%;
            right: 6%;
        }
        .acc5 {
            top: -54px;
            right: 5%;
        }
        @media screen and (max-width: 599px) {
            .acc1, .acc2, .acc3, .acc4, .acc5, .acc6, .branch2 {
                transform: translate(0, 0);
            }
        }
    }
    .four {
        .acc1, .acc2, .acc3, .acc4, .acc5, .acc6, .branch2 {
            transform: translate(0, -600px);
            transition: transform 1.5s ease 2s;
        }
    }
    .our-program {
      position: absolute;
      h1, h2 {
        font-size: .8em;
      }
      .our-program_two {
        line-height: 1.4em;
        top: 50%;
        font-size: .8em;
      }

      .our-program_three {
          font-size: 23px;
          width: 80%;

        h2 {
          line-height: 1.4em;
          font-size: 1.2em;
        }
        h3 {
          line-height: 1.4em;
          margin: 0;
          font-size: .82em;
        }
      }
    }

  .we-are-here {
    h1, h2 {
      line-height: 30px;
      font-size: 20px;
    }
    h1 {
      margin-bottom: 10px;
    }
    .we-are-here-wrapper {
      height: auto;
      width: 440px;
    }
  }

  .mails-in-2018 {
    .column__phone {
      display: none !important;
    }
    .column__label {
      h1, h2 {
        line-height: 25px;
        font-size: 20px;
      }
    }
    .mails-in-2018-wrapper {
      height: 100%;
      width: 500px;
    }
  }

  .thank-you {
    .iqos-video {
      transform: none;
      right: 0;
      max-width: 640px;
      min-height: 360px;
    }
    .thank-you-wrapper {
      width: 400px;
      height: auto;
      h1, h2 {
        line-height: 22px;
        font-size: 18px;
      }
      h1 {
        margin: 5px 0 25px 10px;
      }
      h1.thank-you-label {
        line-height: 35px;
        font-size: 40px;
      }
    }
  }

  .you-and-world {
    h1, h2 {
      line-height: 25px;
      font-size: 20px;
    }
    h1 {
      margin-bottom: 10px;
    }
    h3 {
      font-size: 10px;
    }
    .elka-top {
      right: 2%;
    }
    .lollipop {
      display: none !important;
    }
    .you-and-world .tapes {
      right: -13%;
    }
    .iqos-device {
      right: -10%;
    }
    .spring, .tape-yellow-left, .ribbon {
      display: none !important;
    }
    .you-and-world-wrapper {
      width: 380px;
      height: auto;
    }
    .phone {
      left: -6%;
      top: -8%;
      transform: rotate(-15deg) scale(0.4);
      bottom: 30%;
    }
    .decoration-img {
      &.ball {
        top: 9px;
        left: 2%;
      }
      &.cherry {
        display: none !important;
      }
      &.photo-people {
        display: none !important;
      }
      &.photo-cofee, &.box {
        display: none !important;
      }
      .tape-yellow-right {
        right: -4%;
      }
    }
  }
  .third .label-wrapper-22 {
    line-height: 1.1;
    font-size: 37px;
    font-family: NOTO_SANS_EXTLIGHT_REGULAR;
  }
  .our-program-wrapper {
    top: 72%
  }
}

@media screen and (orientation:portrait) and (max-width: 480px) {
    .stik {
        top: -4%;
        left: 46%;
    }
    .photo {
        top: -6%;
        left: 0%;
    }
    .caps1 {
        top: 116px;
        left: 48px;
    }
    .caps2 {
        top: 16%;
        left: 60%;
    }
    .stik {
        top: -12%;
        left: 46%;
    }
    .hue2 {
        left: -108px;
        bottom: -68px;
        width: 280px;
    }
    .hue3 {
        bottom: -4%;
        left: 24%;
    }
    .acc1 {
        top: -4%;
        left: 54%;
    }
    .acc2 {
        top: -8%;
        left: 0%;
    }
    .acc3 {
        display: block;
        top: -12%;
        left: 4%;
    }
    .acc4 {
        top: -16%;
        left: 36%;
    }
    .acc5 {
        top: -18%;
        right: -1%;
    }
    .acc6 {
        top: -8%;
    right: -2%;
        display: block;
    }
    .label-wrapper-21 {
        font-size: .82em;
    }
    body.second .label-wrapper-22 {
        z-index: 1;
        position: absolute;
        margin-top: 8.2%;
        padding-left: 20%;
        line-height: 1.5em;
        font-size: .82em;
    }

    .label-wrapper-3  {
        margin-top: 40px;
    }
    .label-wrapper-3 > div:last-child {
        margin-top: 6px;
        font-size: .62rem;
        line-height: .8rem;
    }
.third {
    .branch2 {
        height: 100px;
    }
    .acc1 {
		transform: scale(.8) translate(0, 0);
		transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
	}
	.acc2 {
		transform: scale(.8) translate(0, 0);
		transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) .8s;
	}
	.acc3 {
		transform: scale(.5) translate(0, 0) ;
		transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.3s;
	}
	.acc4 {
		transform: scale(.8) translate(0, 0) ;
		transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.8s;
	}
	.acc5 {
		transform: scale(.8) translate(0, 0);
		transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
	}
	.acc6 {
		transform: scale(.5) translate(0, 0);
		transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.2s;
    }
}
.four {
    .acc1, .acc2, .acc3, .acc4, .acc5, .acc6, .branch2 {
        transform: translate(0, -600px);
        transition: transform 1.5s ease 2s;
    }
}
  .our-program-wrapper {
    top: 72%
  }
}

//iphone 5
@media screen and (orientation: landscape) and (max-height: 320px) {
  body.second .label-wrapper-22 {
    padding-left: 110px !important;
    font-size: 26px;
  }
  .label-wrapper-3 {
    font-size: .75rem;
  }
  .third .acc4 {
    top: -26%;
    left: 19%;
  }
  .third .acc1 {
    top: -53px;
    left: 68%;
  }
  .our-program .our-program_three h2 {
    line-height: 1em;
    font-size: 0.8em;
  }
  .our-program .our-program_three h1 {
    font-size: 1.2em;
  }
  .our-program .our-program_three h3 {
    line-height: 1.2em;
    margin: 0;
    font-size: .65em;
  }
  .our-program .our-program-wrapper {
    line-height: 1.5;
  }
  .you-and-world .tapes {
    right: 3%;
  }
  .we-are-here h1, .we-are-here h2 {
    line-height: 27px;
    font-size: 17px;
  }
  .we-are-here h1 {
    margin-bottom: 0;
  }
  .thank-you .thank-you-wrapper h1 {
    font-size: 25px;
    line-height: 1.7;
    margin-bottom: 25px;
  }
  .thank-you .thank-you-wrapper h1, .thank-you .thank-you-wrapper h2 {
    line-height: 20px;
    font-size: 16px;
  }
  .label-wrapper-3 > div:last-child {
    margin-top: 20px;
    font-size: 0.72rem;
    line-height: 1.8em;
  }
  .you-and-world h1, .you-and-world h2 { line-height: 23px; font-size: 18px; }
  .you-and-world .you-and-world-wrapper { width: 365px; height: auto; }
  .our-program .our-program-wrapper {
    line-height: 1.5;
  }
  .thank-you .thank-you-wrapper {
    padding-top: 120px;
    width: 100%;
  }
  .our-program-wrapper {
    top: 72%
  }
}

//iphone 6 and more screen
@media (max-height: 420px) and (min-width: 610px) and (orientation: landscape) {
  .thank-you {
    .iqos-video {
      max-width: 100%;
      min-height: 360px;
    }
  }
  body.second .hue2 {
    display: none !important;
  }
  body.second .photo {
    display: none;
  }
  body.second .hue1 {
    top: -100px;
    transform: scale(0.6);
  }
  body.second .iqos {
    top: 50%;
  }
  body.second .hue3 {
    bottom: -25%;
  }
  body.second .caps2 {
    top: 24%;
  }
  body.second .caps1 {
    top: 124px;
  }
  .our-program-wrapper {
    top: 72%
  }
}