@import '../../node_modules/normalize-scss/sass/normalize/import-now';
@import 'font';

@mixin star-animation($sec, $delay: 0) {
	-webkit-animation: star-anim #{$sec}s ease infinite;
	-moz-animation: star-anim #{$sec}s ease infinite;
	-ms-animation: star-anim #{$sec}s ease infinite;
	-o-animation: star-anim #{$sec}s ease infinite;
	animation: star-anim #{$sec}s infinite ease;
	animation-delay: #{$delay}ms;
	opacity: 1;
}
@mixin boken-animation($sec, $delay: 0) {
	-webkit-animation: boken-anim #{$sec}s infinite reverse;
	animation: boken-anim #{$sec}s infinite reverse;
	animation-delay: #{$delay}ms;
	opacity: .2;
}
@mixin bg-animation($sec, $delay: 0) {
	-webkit-animation: bg-anim #{$sec}s infinite reverse;
	animation: bg-anim #{$sec}s infinite reverse;
	animation-delay: #{$delay}ms;
}
@mixin full() {
	position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
}
@keyframes bg-anim {
    0%   { opacity: .1; }
	50% { opacity: .3; }
	100% { opacity: .1; }
}
@keyframes star-anim {
    0%   { opacity: .2; }
	50% { opacity: 1; }
	100% { opacity: .2; }
}
@keyframes boken-anim {
    0%   { opacity: .5; }
    50%   { opacity: .6; }
	80% { opacity: .8; }
	100% { opacity: .5; }
}

html, body {
	height: 100vh;
	width: 100vw;
	max-width: 100vw;
	max-height: 100vh;
	min-width: 100vw;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	font-size: 24pt;
	@extend .fo-lig;

	.bg {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
		// opacity: .5;
		background-image:
			radial-gradient(
				#f1f1f1,
				#d0d0d0
			);
	}
}

.confeti {
	position: absolute;
	z-index: 0;
	opacity: 0;
}
.confeti-1 {
	background-image: url(/src/styles/img/screen1/confeti-1.png);
	bottom: 0;
	left: 10px;
	height: 40px;
	width: 123px;
}
.confeti-2 {
	height: 73px;
	width: 97px;
	bottom: 0;
    right: 0;
	background-image: url(/src/styles/img/screen1/confeti-2.png);
}
.confeti-3 {
	height: 81px;
	width: 63px;
	background-image: url(/src/styles/img/screen1/confeti-3.png);
	left: 0;
    top: 100px;
}
.confeti-4 {
	background-image: url(/src/styles/img/screen1/confeti-4.png);
	height: 52px;
	width: 87px;
	top: 0;
    left: 240px;
}
.confeti-5 {
	background-image: url(/src/styles/img/screen1/confeti-5.png);
	height: 66px;
	width: 61px;
	top: 0;
    right: 80px;
}
.confeti-6 {
	background-image: url(/src/styles/img/screen1/confeti-6.png);
	height: 70px;
	width: 80px;
	top: 120px;
    right: 20px;
}
.halo-layer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
}
.halo-left {
	background-image: url(/src/styles/img/screen1/halo-left.png);
	position: absolute;
	width: 605px;
	height: 556px;
	bottom: 0;
    left: 0;
}
.halo-right {
	background-image: url(/src/styles/img/screen1/halo-right.png);
	position: absolute;
	width: 742px;
	height: 556px;
	bottom: 0;
    right: 0;
}
.boken1 {
	background-image: url(/src/styles/img/screen1/boken1.png);
	position: absolute;
	width: 1056px;
	height: 628px;
	align-self: center;
	justify-self: center;
	margin-top: 40px;
}
.bg2 {
	background: url(/src/styles/img/screen1/bg2.png) no-repeat center;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	// width: 1495px;
	// height: 539px;
	z-index: -1;
	opacity: .1;
	@include bg-animation(5, 500);

	div {
		@include full();
	}
}
.krugi1 {
	background-image: url(/src/styles/img/screen1/krugi-1.png);
	position: absolute;
	width: 379px;
	height: 305px;
	right: 30px;
}
.krugi1234 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.krug1 {
	background-image: url(/src/styles/img/screen1/krug-1.png);
	position: absolute;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	bottom: 60px;
    right: 120px;
}
.krug2 {
	background-image: url(/src/styles/img/screen1/krug-2.png);
	position: absolute;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	right: 10px;
    bottom: 476px;
}
.krug3 {
	background-image: url(/src/styles/img/screen1/krug-3.png);
	position: absolute;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	right: 30px;
    bottom: 500px;
}
.krug4 {
	background-image: url(/src/styles/img/screen1/krug-4.png);
	position: absolute;
	width: 63px;
	height: 63px;
	background-repeat: no-repeat;
	right: 280px;
    top: 140px;
}
.krugi-starts1 {
	background-image: url(/src/styles/img/screen1/krugi-stars1.png);
	position: absolute;
	width: 940px;
	height: 556px;
	background-repeat: no-repeat;
	@include star-animation(2);
}
.star-1 {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 240px;
    right: 420px;
}
.star1-1 {
	position: absolute;
	background-image: url(/src/styles/img/screen1/star1-1.png);
	width: 63px;
	height: 63px;
	background-repeat: no-repeat;
	// top: 100px;
	top: 16px;
    // right: 200px;
	right:0;
	@include star-animation(3, 1000);
}
.star1-2 {
	position: absolute;
	background-image: url(/src/styles/img/screen1/star1-2.png);
	width: 63px;
	height: 63px;
	background-repeat: no-repeat;
	// top: 84px;
	top: 0;
    // right: 202px;
	right: 2px;
	@include star-animation(2);
}
@keyframes star-anim {
    0%   { opacity: .3; }
	50% { opacity: 1; }
	100% { opacity: .3; }
}
.boken2 {
	position: absolute;
	background-image: url(/src/styles/img/screen1/boken2.png);
	width: 1061px;
	height: 556px;
	background-repeat: no-repeat;
	opacity: .6;
}

.boken2-1 {
	transform: rotate(45deg);
	    top: 300px;
	left: -300px;
	@include boken-animation(5, 1000);
}
.boken2-2 {
	transform: rotate(90deg);
	top: -500px;
	 @include boken-animation(2, 500);
}
.boken2-3 {
	transform: rotate(180deg);
	right: -600px;
	@include boken-animation(3, 1800);
}
.boken2-4 {
	transform: rotate(135deg);
	left: -400px;
	@include boken-animation(6, 2200);
}
.boken2-5 {
	display: none;
	right: 400px;
	bottom: 0;
	@include boken-animation(6, 800);
}
.boken2-6 {
	display: none;
	@include boken-animation(4, 800);
}
@mixin img-stuff($url) {
	position: absolute;
	background-image: $url;
	background-size: cover;
}
.photo {
	@include img-stuff(url(/src/styles/img/screen2/photo.png));
	width: 282px;
	height: 231px;
	top: 200px;
	left: 200px;
}
.hue1 {
	@include img-stuff(url(/src/styles/img/screen2/Hue_Saturation_1.png));
	width: 369px;
	height: 371px;
	top: 40px;
	left: 0;
}
.hue2 {
	@include img-stuff(url(/src/styles/img/screen2/Hue_Saturation_2.png));
	width: 230px;
	height: 214px;
	bottom: 0;
	left: 0;
}
.hue3 {
	@include img-stuff(url(/src/styles/img/screen2/Hue_Saturation3.png));
	width: 148px;
	height: 132px;
	left: 100px;
	bottom: 100px;
}
.caps1 {
	@include img-stuff(url(/src/styles/img/screen2/IQOS_Caps_1.png));
	width: 55px;
	height: 77px;
	left: 350px;
	top: 500px;
}
.caps2 {
	@include img-stuff(url(/src/styles/img/screen2/IQOS_Caps_2.png));
	width: 57px;
	height: 77px;
	left: 250px;
	top: 400px;
}
.iqos {
	@include img-stuff(url(/src/styles/img/screen2/IQOS.png));
	width: 174px;
	height: 171px;
	left: 0;
	top: 400px;
}
.stik {
	@include img-stuff(url(/src/styles/img/screen2/Stik.png));
	width: 141px;
	height: 147px;
	top: 20px;
	left: 300px;
}

.hues {
	opacity: 0;
}
body:not(.second) {
	.hues {
		left: -10000px !important;
	}
}

body.second {
	.hues {
		opacity: 1;
		transition: opacity 1s linear;
	}
	.stik {
		transition: opacity 1s linear 2300ms;
	}
	.iqos {
		transition: opacity 1s linear 2000ms;
	}
	.photo {
		transition: opacity 1s linear 1700ms;
	} 
	.caps1 {
		transition: opacity 1s linear 1300ms;
	}
	.caps2 {
		transition: opacity 1s linear 1000ms;
	}
	.hue1 {
		transition: opacity 1s linear 700ms;
	}
	.hue2 {
		transition: opacity 1s linear 400ms;
	}
	.hue3 {
		transition: opacity 1s linear 100ms;
	}
	.label-wrapper-2 {
		.ny {
			opacity: 1;
			transform: translateY(0);
			transition:
				opacity 1s linear,
				transform .5s linear;
		}

		.wantsay, .thank, .last {
			opacity: 1;
			transform: translateY(0);
			transition:
				opacity 1s linear .5s,
				transform .5s linear .5s;
		}
	}
}
.first-screen {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	.label-wrapper-1 {
		text-align: center;
		z-index: 100;
	}
	.name {
		@extend .fo-e-lig;
		font-size: 48pt;
		color: #a83e4f;
		opacity: 0;
		transform: translateY(50px)
	}
    .question {
		@extend .fo-lig;
		font-size: 24pt;
		margin-top: 36px;
		opacity: 0;
		transform: translateY(50px)
	}
}

.loaded {
	.confeti {
		opacity: 1;
		transition: opacity 1s linear;
	}
	.confeti-1 {
		transition: opacity 1s linear 200ms;
	}
	.confeti-2 {
		transition: opacity 1s linear 300ms;
	}
	.confeti-3 {
		transition: opacity 1s linear 500ms;
	}
	.confeti-4 {
		transition: opacity 1s linear 700ms;
	}
	.confeti-5 {
		transition: opacity 1s linear 900ms;
	}
	.name {
		opacity: 1;
		transform: translateY(0);
		transition:
			opacity 1s linear,
			transform .5s linear;
	}
    .question {
		opacity: 1;
		transform: translateY(0);
		transition:
			opacity 1s linear .5s,
			transform .5s linear .5s;
	}
}
.label-wrapper-2 {
	opacity: .8;
	position: absolute;
	z-index: 1;
	margin-top: 32px;
	padding: 0 20px 0 40px;
	font-size: .5rem;

	.thank {
		color: #a83e4f;
		font-weight: 800;
		margin-top: 4px;
		opacity: 0;
		transform: translateY(50px)
	}

	.ny {
		color: #a83e4f;
		font-size: .8rem;
		opacity: 0;
		transform: translateY(50px)
	}

	.wantsay {
		line-height: 1.2em;
		margin-top: 20px;
		opacity: 0;
		transform: translateY(50px)
	}
	.last {
		margin-top: 6px;
		opacity: 0;
		transform: translateY(50px)
	}
}

@mixin img-center-cover($url) {
	background: $url no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg3 {
	position: absolute;
	z-index: 2;
}
.bg4 {
	position: absolute;
	z-index: 2;
	height: 100%;
	background-color: #511922;
	// @include img-center-cover(url(/src/styles/img/screen3/bg-scene.png));
}
.bg4.even {
	transform: skew(-40deg) translate(398px, -1000px);
}
.bg4.odd {
	transform: skew(-40deg) translate(398px, -1000px);
}
.third {
	.bg4.even {
		transform: skew(-40deg) translate(398px, 0);
		transition: transform .6s linear .3s;
	}
	.bg4.odd {
		transform: skew(-40deg) translate(398px, 0);
		transition: transform .6s linear;
	}
	.bg33,.sc3-boken-light {
		opacity: 1;
		transition: opacity 1s cubic-bezier(0.95, 0.05, 0.795, 0.035);;
	}
}
.bg33 {
	@include img-center-cover(url(/src/styles/img/screen3/bg-scene.png));
	opacity: 0;
	z-index: 3;
}
.sc3-boken-light {
	@include img-center-cover(url(/src/styles/img/screen3/boken-light.png));
	opacity: 0;
	z-index: 3;
	width: 1024px;
	height: 556px;
	position: absolute;
}

.sc3 { opacity: 0; }
.third {
	.sc3 { 
		opacity: 1; 
		transition: opacity 1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
	}
}
.branch2 {
	// background: url(/src/styles/img/screen3/branch2.png) no-repeat center center fixed; 
	background: url(/src/styles/img/screen3/branch2.png) no-repeat;
	background-size: cover;
  background-position: center;
	width: 100vw;
	height: 242px;
	position: absolute;
	z-index: 3;
	top: 0;
}

@media screen and (max-width: 599px) {
    .star-1 {
		top: 140px;
		right: 120px;	
	}
	.halo-left {
		bottom: -50px;
		left: -74px;	
	}
	.halo-right {
		bottom: 200px;
		right: -500px;
	}
	.boken2 {
		display: none;
	}
	.hues, .confeti {
		transform: scale(.5)
	}
	.hue1 {
		top: -110px;
		left: -120px;
	}
	.confeti-4 {
		top: 0px;
		left: 79px;
	}
	.confeti-5 {
		top: -18px;
		right: 34px;
	}
	.confeti-6 {
		right: -10px;
	}
	.confeti-1 {
		bottom: -10px;
	}
	.confeti-2 {
		bottom: -20px;
	}
	.photo {
		top: 24px;
		left: 0;
	}
	.caps1 {
		top: 158px;
		left: 74px;
	}
	.caps2 {
		top: 76px;
    left: 200px;
	}
	.stik {
		top: -3px;
    left: 105px;
	}
	.iqos {
		top: 120px;
    left: -70px;
	}
	.hue2 {
		left: -78px;
		bottom: -58px;	
	}
	.hue3 {
		bottom: 0;
		left: 32px;
	}
}
@media screen and (min-width: 600px) {
	.boken2-5, .boken2-6  {
		display: block;
	}
	.confeti-5 {
		right: 300px;
	}
	.confeti-6 {
		right: 120px;
	}
	.confeti-1 {
		left: 200px;
	}
	.confeti-2 {
		right: 50px;
	}

	.label-wrapper-2 {
		margin-top: 0;
		font-size: 1em;
		margin-left: 100px;

		.ny {
			font-size: 2rem;
		}
		.thank, .last {
			margin-top: 20px;
		}
		.wantsay {
			margin-top: 40px;
		}
	}
	.hue1 {
		top: -62px;
    left: -110px;
	}
	.confeti-4 {
		top: 0px;
		left: 146px;
	}
	.confeti-5 {
		top: -18px;
		right: 34px;
	}
	.confeti-6 {
		right: -10px;
	}
	.confeti-1 {
		bottom: -10px;
	}
	.confeti-2 {
		bottom: -20px;
	}
	.photo {
		top: 134px;
		left: 94px;	
	}
	.caps1 {
		top: 324px;
		left: 132px;
	}
	.caps2 {
		top: 362px;
		left: 186px;	
	}
	.stik {
		top: 42px;
		left: 226px;
	}
	.iqos {
		top: 304px;
		left: -50px;
	}
	.hue2 {
		left: -35px;
		bottom: -10px;		
	}
	.hue3 {
		bottom: 72px;
		left: 160px;
	}
}
