@import "our-program";
@import "you-and-world";
@import "we-are-here";
@import "mails-in-2018";

@font-face {
    font-family: NOTO_SANS_EXTLIGHT_REGULAR;
    src: url(/src/fonts/NOTO_SANS_EXTLIGHT_REGULAR.ttf);
}

@font-face {
    font-family: NOTO_SANS_LIGHT_REGULAR;
    src: url(/src/fonts/NOTO_SANS_LIGHT_REGULAR.ttf);
}

@font-face {
    font-family: NOTO_SANS_REGULAR;
    src: url(/src/fonts/NOTO_SANS_REGULAR.ttf);
}

@font-face {
    font-family: NOTO_SANS_SEMBD_REGULAR;
    src: url(/src/fonts/NOTO_SANS_SEMBD_REGULAR.ttf);
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}