.mails-in-2018 {
  position: absolute;
  bottom: 0;
  background: #262534;
  background: radial-gradient(#515365, #0f0e1d);
  color: #d9d9d9;
  width: 100%;
  height: 100%;
  z-index: 100;
  .emails-count {
    font-family: NOTO_SANS_REGULAR;
  }
  .mails-in-2018-wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 1000px;
    z-index: 1;
    @media screen and (max-width: 599px) {
      width: auto;
    }
    .column__label {
      z-index: 102;
      align-self: center;
      padding-left: 35px;
      @media screen and (max-width: 599px) {
        margin-left: 20px;
      }
    }
    img {
      width:400px;
      @media screen and (max-width: 980px){
        width: 300px;
      }
    }
  }
  h1, h2 {
    font-weight: 100;
    margin: 0;
    font-family: NOTO_SANS_EXTLIGHT_REGULAR;
    font-size: 48px;
    line-height: 68px;
    text-align: left;
    margin-bottom: 30px;
    @media screen and (max-width: 599px) {
      font-size: 38px;
    }
  }
  h2 {
    color: #e9e9e9;
    font-size: 24px;
    line-height: 36px;
    @media screen and (max-width: 599px) {
      font-size: 16px;
    }
  }
  .column__phone {
    position: relative;
    align-self: flex-end;
    margin-bottom: -6px;
    z-index: 120;
    .phone__screen {
      position: absolute;
      width: 341px;
      left: 31px;
      top: 128px;
      height: 100%;
      background-image: url(./../img/mails-in-2018/phone-screen.jpg);
      transition: background-position 0.8s ease-out 2s;
      background-size: 569px;
      background-position: center top;
    }
  }
  .decoration-icons {
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) 3s, opacity 0.3s ease 3s;
    display: block;
    position: absolute;
    opacity: 0;
    z-index: 101;
    top: 140px;
    left: -42px;
    width: 537px;
    height: 375px;
    img.decoration-icons__icon {
        transition: transform 6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 3s, opacity 0.3s ease 3s;
        width: 57px;
        position: absolute;
        &.icon-6 {
          top: 50%;
          left: 0;
        }
        &.icon-4 {
          top: 20%;
          left: -3%;
        }
        &.icon-5 {
          top: -7%;
          left: -5%;
        }
        &.icon-1 {
          left: 79%;
          transform: rotate(-45deg);
          top: -34%;
        }
      &.icon-2 {
        left: 44%;
        transform: rotate(-45deg);
        top: -34%;
      }
      &.icon-3 {
        left: 30%;
        transform: rotate(-45deg);
        top: -34%;
      }
    }
  }
  .column__phone.next-position {
    .phone__screen {
      background-position: center -1100px;;
    }
  }
}

.seven {
  .mails-in-2018 {
    .decoration-icons {
      opacity: 1;
    }
    img.decoration-icons__icon {
      width: 57px;
      position: absolute;
      &.icon-6 {
        transform: translateX(-146px) scale(1.6);
      }
      &.icon-5 {
        transform: translateY(-600px) scale(1.9);
      }
      &.icon-4 {
        transform: translate(-146px, -422px) scale(1.8);
      }
      &.icon-3 {
        transform: translate(-146px, -500px) scale(1.4);
      }
      &.icon-2 {
        transform: translate(400px, -450px) scale(1.3);
      }
      &.icon-1 {
        transform: translate(146px, -650px) scale(1.5);
      }
    }
  }
}