.thank-you {
  h1.happy-new-year {
    font-family: Corinthia;
    position: absolute;
    top: 23%;
    left: 10px;
    z-index: 202;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: 100;
  }
  //width: 100%;
  //height: 100%;
  position: absolute;
  z-index: 200;
  font-family: NOTO_SANS_EXTLIGHT_REGULAR;
  //position: relative;
  top: 0;
  background-image: url(./../img/thank-you/bg2.png);
  background-size: cover;
  color: #e3e3e3;
  width: 100%;
  height: 100%;
  .thank-you-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10%;
    width: 620px;
    height: 597px;
    z-index: 1;
    h1, h2 {
      font-weight: 100;
    }
    h1 {
      font-size: 28px;
      line-height: 1.8;
      margin: 15px 0 50px 10px;
    }
    h2 {
      font-size: 26px;
      margin-left: 10px;
    }
    @media screen and (max-width: 599px) {
      width: auto;
    }
  }
  .thank-you-label {
    @media screen and (max-width: 599px) {
      width: 370px;
    }
  }
  .iqos-video {
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    bottom: 0;
    max-width: 1450px;
    min-height: 100%;
  }
  .thank-you-label {
    font-family: Corinthia;
  }
  h1.thank-you-label {
    font-size: 78px;
    line-height: 1;
  }
  h2 {
    .thank-you-label{
      font-size: 36px;
    }
  }
  .elka-thank-you {
    position: absolute;
    top: 0;
    z-index: 201;
    height: 100%;
    width: 100%;
    background-image: url(./../img/thank-you/bg2.png);
    background-size: cover;
    background-position: right;
  }
}

.bg7 {
  position: absolute;
  z-index: 199;
  height: 100%;
  background-color: #201f2f;
}
.bg7 {
  background: #3c0919;
}
.bg7.even {
  transform: skew(-40deg) translate(398px, -1000px);
}
.bg7.odd {
  transform: skew(-40deg) translate(398px, -1000px);
}

.eight {
  .bg7.even {
    transform: skew(-40deg) translate(398px, 0);
    transition: transform .6s linear .3s;
  }
  .bg7.odd {
    transform: skew(-40deg) translate(398px, 0);
    transition: transform .6s linear;
  }
}