.five {
  .you-and-world {
    top: 0;
    position: absolute;
    opacity: 0;
    z-index: 15;
    transition: z-index 1s ease 2s;
  }
  .sc3 {
    z-index: 51;
  }
}
.you-and-world {
  position: relative;
  background: #f1f1f1;
  background: radial-gradient(#f8f8f8, #d0d0d0);
  color: #5f5f5f;
  width: 100%;
  height: 100%;
  .phone__screen-wrapper {
    width: 134px;
    height: 228px;
    top: 39px;
    left: 15px;
    position: relative;
    overflow: hidden;
  }
  .decoration-img {
    position: absolute;
  }
  .photo-people {
    top: 20px;
    @media screen and (max-width: 599px) {
      display: none !important;
    }
  }
  .ball {
    top: 30px;
    left: 25%;
  }
  .elka-top {
    right: 25%;
  }
  .tapes {
    right: 9%;
  }
  .photo-cofee {
    right: 0;
    top: 30px;
    @media screen and (max-width: 599px) {
      display: none !important;
    }
  }
  .iqos-device {
    bottom: 0;
    right: 14%;
    @media screen and (max-width: 599px) {
      display: none !important;
    }
  }
  .box {
    right: 5%;
    bottom: 10%;
    @media screen and (max-width: 599px) {
      display: none !important;
    }
  }
  .tape-yellow-right {
    right: 2%;
    bottom: 0;
  }
  .lollipop {
    top: 15%;
    right: 37%;
  }
  .spring {
    bottom: 0;
    left: 10%;
    @media screen and (max-width: 599px) {
      display: none !important;
    }
  }
  .tape-yellow-left {
    left: 5%;
    bottom: 0;
    @media screen and (max-width: 599px) {
      display: none !important;
    }
  }
  .phone {
    width: 219px;
    height: 327px;
    top: 27%;
    left: 2%;
    overflow: hidden;
    transform: rotate(-15deg);
    .phone__body {
      position: absolute;
      z-index: 1;
    }
    .phone__screen {
      top: 0;
      left: 0;
      position: absolute;
    }
    .phone__screen_one {
      z-index: 4;
    }
    .phone__screen_two {
      z-index: 3;
    }
    .phone__screen_three {
      z-index: 2;
    }
    @media screen and (max-width: 599px) {
      display: none !important;
    }
  }
  .cherry {
    bottom: 15%;
    left: 0;
    @media screen and (max-width: 599px) {
      display: none !important;
    }
  }
  .ribbon {
    top: 18%;
    left: 10%;
  }
  .you-and-world-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    height: 274px;
    width: 630px;
    z-index: 1;
    @media screen and (max-width: 599px) {
      width: auto;
      padding-top: 10px;
    }
  }
  .vouchers-label {
    font-family: NOTO_SANS_REGULAR;
  }
  h1, h2 {
    font-weight: 100;
    margin: 0;
    font-family: NOTO_SANS_EXTLIGHT_REGULAR;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 30px;
    @media screen and (max-width: 599px) {
      font-size: 25px;
    }
  }
  h2 {
    color: #454545;
    font-size: 24px;
    line-height: 36px;
  }

  .animate-phone {
    .phone__screen_one {
      animation: next-screen 1s ease-out forwards;
    }
  }
  .animate-phone-two {
    .phone__screen_two {
      animation: next-screen 1s ease-out forwards;
    }
  }
  h3 {
    font-size: 15px;
    color: #737373;
    position: absolute;
    font-weight: 100;
    font-family: NOTO_SANS_REGULAR;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}
.five {
  .bg5.even {
    transform: skew(-40deg) translate(398px, 0);
    transition: transform .6s linear .3s;
  }
  .bg5.odd {
    transform: skew(-40deg) translate(398px, 0);
    transition: transform .6s linear;
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes next-screen {
  from {}
  to {
    left: -132px;
  }
}

@keyframes next-screen {
  from {}
  to {
    left: -132px;
  }
}